<?xml version="1.0"?>
<robot name="gurdy">
    <material name="red">
        <color rgba="0.8 0.0 0.0 0.8" />
    </material>
    <material name="black">
        <color rgba="1 1 1 0.8" />
    </material>
    <material name="gray">
        <color rgba="0.3 0.3 0.3 1" />
    </material>
    <material name="blue">
        <color rgba="0.0 0.0 1.0 1" />
    </material>
    <material name="green">
        <color rgba="0.0 1.0 0.0 1" />
    </material>
    <material name="pink">
        <color rgba="0.254 0.127 0.156 1" />
    </material>
    <link name="base_link">
        <visual>
            <material name="black"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </visual>
    </link>
    <link name="head_link">
        <visual>
            <material name="red"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.04" radius="0.05"/>
            </geometry>
        </visual>
    </link>
    <joint name="base_head_joint" type="fixed">
        <parent link="base_link" />
        <child link="head_link" />
        <origin xyz="0.0 0.0 0.025" rpy="0 0 0" />
    </joint>
    <link name="upper_leg_M1_link">
        <visual>
            <material name="gray"/>
            <origin xyz="0 0 -0.03" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.06" radius="0.0025"/>
            </geometry>
        </visual>
    </link>
    <joint name="head_upper_leg_M1" type="fixed">
        <parent link="head_link" />
        <child link="upper_leg_M1_link" />
        <origin xyz="0.026 0.0125 -0.02" rpy="0 0 0" />
    </joint>
    <link name="lower_leg_M1_link">
        <visual>
            <material name="red"/>
            <origin xyz="0 0 -0.03" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.06" radius="0.0015"/>
            </geometry>
        </visual>
    </link>
    <joint name="upper_leg_M1_lower_leg_M1" type="fixed">
        <parent link="upper_leg_M1_link" />
        <child link="lower_leg_M1_link" />
        <origin xyz="0.0 0.0 -0.06" rpy="0 0 0" />
    </joint>
    <link name="foot_M1">
        <visual>
            <material name="blue"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.008"/>
            </geometry>
        </visual>
    </link>
    <joint name="lower_leg_M1_foot_M1" type="fixed">
        <parent link="lower_leg_M1_link" />
        <child link="foot_M1" />
        <origin xyz="0.0 0.0 -0.064" rpy="0 0 0" />
    </joint>
    <link name="upper_leg_M2_link">
        <visual>
            <material name="gray"/>
            <origin xyz="0 0 -0.03" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.06" radius="0.0025"/>
            </geometry>
        </visual>
    </link>
    <joint name="head_upper_leg_M2" type="fixed">
        <parent link="head_link" />
        <child link="upper_leg_M2_link" />
        <origin xyz="-0.026 0.0125 -0.02" rpy="0 0 0" />
    </joint>
    <link name="lower_leg_M2_link">
        <visual>
            <material name="red"/>
            <origin xyz="0 0 -0.03" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.06" radius="0.0015"/>
            </geometry>
        </visual>
    </link>
    <joint name="upper_leg_M2_lower_leg_M2" type="fixed">
        <parent link="upper_leg_M2_link" />
        <child link="lower_leg_M2_link" />
        <origin xyz="0.0 0.0 -0.06" rpy="0 0 0" />
    </joint>
    <link name="foot_M2">
        <visual>
            <material name="green"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.008"/>
            </geometry>
        </visual>
    </link>
    <joint name="lower_leg_M2_foot_M2" type="fixed">
        <parent link="lower_leg_M2_link" />
        <child link="foot_M2" />
        <origin xyz="0.0 0.0 -0.064" rpy="0 0 0" />
    </joint>
</robot>